html, body {
    height: 100%;
    background-color: antiquewhite;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.number {
    font-size: 20vw;
    font-family: sans-serif;
    color: #03163a;
}

.title {
    font-size: 4vw;
    font-family: sans-serif;
    color: #475a7c;
}