<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
<script src="{{ url_for('static', filename='htmx.min.js') }}"></script>

<body hx-get="/admin" hx-trigger="every 500ms" hx-swap="outerHTML">
    <div class="container">
        <div class="section top">
            <div class="title large_title">Current number</div>
            <div class="info large_info">{{current}}</div>
            <div class="resetting">{{resetting}}</div>
        </div>
        
        <div class="section mid">
            <div class="title medium_title">Top of queue</div>
            <div class="info medium_info">{{top}}</div>
        </div>

        <div class="bottom">
            <div class="section">
                <div class="title small_title">Min/crêpe</div>
                <div class="info small_info">{{time_per_crepe}}</div>
            </div>
            <div class="section">
                <div class="title small_title">Queue depth</div>
                <div class="info small_info">{{depth}}</div>
            </div>
            <div class="section">
                <div class="title small_title">Estimated wait</div>
                <div class="info small_info">{{wait}}</div>
            </div>
            <div class="section">
                <div class="title small_title">Shift remaining</div>
                <div class="info small_info">{{remaining}}</div>
            </div>
        </div>
    </div>
</body>