<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='public.css') }}">
<script src="{{ url_for('static', filename='htmx.min.js') }}"></script>

<body hx-get="/public" hx-trigger="every 1s" hx-swap="outerHTML">
    <div>
        <span class="{{status_style}}">{{status}}</span>
        {% if open %}
        <span class="title">Current number</span>
        <span class="number">{{number}}</span>

        {% if number > 0 %}
            <img class="pic" src="{{ url_for('static', filename='photos/' ~ number ~'.jpg') }}"/>
        {% endif %}

        <span class="wait">Estimated wait: <span class="wait-number">{{wait}}</span>
        {% endif %}
    </div>
</body>